<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Express MVC</title>
		<link rel="stylesheet" href="/css/vendor/normalize.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<%- body %>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
       	<script src="/js/main.js"></script>
        <script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
	</body>
</html>